@font-face {
	font-family: 'NoirPro';
	font-display: swap;
	src: url("../fonts/NoirPro-BoldItalic.woff2") format("woff2"), url("../fonts/NoirPro-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'NoirPro';
	font-display: swap;
	src: url("../fonts/NoirPro-Light.woff2") format("woff2"), url("../fonts/NoirPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
